#navbar{
    background-color:#697500;
    padding: 1rem;
}
#nv{
    color: white;
    font-family: Viga;
    font-size: 22px;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid #ffffff;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
.jumbotron {
    background-size: 40px;
    height: 400px;
    text-align: center;
    position: relative;
}
.jumbotron .container{
    z-index: 1;
    position: relative;
}
/*  */
.display-4{
    margin-top: 3rem;
    font-family: serif;
    color: rgb(39, 39, 39);
}
/* Info Panel */
.info-panel{
    box-shadow: 0 3px 20px  rgba(0,0,0,0.5);
    border-radius: 10rem;
    margin-top: -100px;
    background-color: #697500;
    padding: 60px;
    margin-bottom: 4rem;
    color: white;
}
#h5{
    text-align: center;
    font-style: italic;
}


/* Data Karyawan */
.data-karyawan{
    text-align: center;
    margin-top: 4rem;
    font-family: sans-serif;
}
hr{
    border: 0;
    height: 3px;
   background-color: black;
   width: 10%;
}
